<div content class="flex min-h-[70vh] flex-col items-center justify-center text-center">
    <div class="relative group">
        <h1 class="text-[10rem] md:text-[15rem] font-black leading-none tracking-tighter text-transparent bg-clip-text bg-gradient-to-b from-gray-900 to-gray-400 dark:from-white dark:to-gray-800 select-none">
            404
        </h1>
        <span class="absolute -inset-2 blur-3xl bg-indigo-500/10 dark:bg-indigo-500/5 -z-10 rounded-full"></span>
    </div>

    <div class="max-w-md space-y-4 mt-4">
        <h2 class="text-2xl md:text-3xl font-black text-gray-900 dark:text-white uppercase tracking-tight">
            Sahifa topilmadi
        </h2>
        <p class="text-gray-500 dark:text-gray-400 font-medium" i18n="@@ERROR_MESSAGE">
            Siz izlayotgan sahifa hozirda mavjud emas.
        </p>
    </div>

    <div class="mt-5 flex flex-wrap justify-center gap-4">
        <button routerLink="/"
                class="flex items-center gap-3 rounded-2xl bg-gray-900 dark:bg-white text-white dark:text-gray-900 px-8 py-4 font-black text-xs uppercase shadow-2xl border-2  hover:border-indigo-500">
            <i class="fa-solid fa-house"></i>
            Bosh sahifaga qaytish
        </button>

        <button (click)="goBack()"
                class="flex items-center gap-3 rounded-2xl border-2 border-gray-200 dark:border-gray-800 bg-white dark:bg-gray-900 text-gray-900 dark:text-white px-8 py-4 font-black text-xs uppercase tracking-widest hover:border-indigo-500">
            <i class="fa-solid fa-arrow-left"></i>
            Ortga qaytish
        </button>
    </div>
</div>
